<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxx.springbootvue.system.mapper.MenuMapper">

	<select id="menuByUserId" resultType="com.wxx.springbootvue.system.po.Menu">
		SELECT tm.*
		FROM tb_menu tm
		LEFT JOIN tb_role_menu trm ON tm.id = trm.menu_id
		LEFT JOIN tb_user_role tur ON trm.role_id = tur.role_id
		WHERE tur.user_id = #{id}
	</select>
</mapper>