<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wxx.springbootvue.system.mapper.RoleMapper">
    
    <resultMap id="roleMap" type="com.wxx.springbootvue.system.po.Role">
        <id property="id" column="id" />
        <result property="roleName" column="role_name" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="description" column="description" />
    </resultMap>



    <select id="getRoleList" resultMap="roleMap">
        SELECT * FROM tb_role;
    </select>
</mapper>